<?xml version="1.0" ?>
<model>
    <name> myhexa with a servo </name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>FU</name>
        <email>1628343763@qq.com</email>
    </author>
    <description>A hexacopter drone with a servo</description>
</model>
